#set max upload file size
php_value upload_max_filesize 100M

#set max post size
php_value post_max_size 100M

ErrorDocument 404 /index.php

DirectoryIndex index.php.

RewriteEngine on
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*)$ index.php/$1 [L,QSA]
 RewriteRule ^$ index.php 
